<% provide(:title, 'Orders') %>
<h1>Order</h1>
<br><br>
<% if @order.empty? %>
 <p>No Items</p>
<%else%>
<br><br>
   <% subtotal = 0 %>
   <% shipping = 0 %>
   <% total = 0 %>
<ul>
<% @order.each do |id,quantity| %>
    <% menu = Menu.find_by_id(id) %>
      <div class="link">
       </div>
    	<%= menu.name %>
        <p><b>Rs.</b><%=menu.price%></p>
        <p>Count: <%= quantity %></p>
     <% subtotal += quantity * menu.price.to_f %>
    <br><br>
<% end %>
 <p><b>Sub-Total: Rs.</b><%=subtotal%></p>
 <% if subtotal<250 %>
    <% shipping = 50 %>
    <p><b>Charges: Rs.</b><%=shipping%> (Shipping is free but for that, order should be Rs 250)</p>
 <% else %>
    <% shipping = 0 %>
    <p><b>Charges: Rs.</b><%=shipping%></p>
 <%end%>
    <p><b>Total: Rs.</b> <%=total = subtotal+shipping%> </p>
</ul>
<%= link_to 'Order', checkout_path, class: "btn btn-lg btn-primary col-md-2"%>

<%= link_to 'Order can be Empty', order_clear_path, class: "btn btn-lg btn-warning col-md-3 pull-right" %>
<%end%>

